.display1{
  font-size: 40px;
  line-height: 47px;
  font-weight: 800;
}

.display2{
  font-size: 38px;
  font-weight: 700;
}

.title{
  font-size: 30px;
  line-height: 133%;
  font-weight: 700;
}

.display3{
  font-size: 22px;
  font-weight: 700;
}

.display4{
  font-size: 18px;
  line-height: 133%;
  font-weight: 500;
}

.body-text{
  font-size: 15px;
  line-height: 160%;
  h2,
  h3{
    line-height: 120%;
    font-weight: 700;
    margin-bottom: 10px;
  }
  h2{
    font-size: 28px;
  }
  h3{
    font-size: 24px;
  }
  h4{
    font-size: 18px;
    line-height: 120%;
    font-weight: 600;
    margin-bottom: 10px;
  }
  h5{
    font-size: 16px;
    line-height: 120%;
    font-weight: 600;
    margin-bottom: 10px;
  }
  p{
    line-height: inherit;
    &:not(:last-child){
      margin-bottom: 20px;
    }
    strong{
      font-weight: 700;
    }
    a{
      text-decoration: underline;
      color: #937120;
    }
  }
  li{
    line-height: inherit;
    display: flex;
    &:not(:last-child){
      margin-bottom: 5px;
    }
  }
  ul,
  ol{
    &:not(:last-child){
      margin-bottom: 25px;
    }
  }
  ul{
    font-size: 15px;
    line-height: 160%;
    li{
      &::before{
        content: '';
        display: block;
        width: 13px;
        height: 2px;
        background-color: $secondary;
        transform: translateY(10px);
        margin-right: 10px;
        flex-shrink: 0;
      }
    }
  }
  ol{
    counter-reset: num;
    padding: 0;
    li{
      &::before{
        content: counter(num) ".";
        counter-increment: num;
        display: block;
        min-width: 13px;
        margin-right: 10px;
      }
    }
  }
}

.mlist{

}

@media screen and (max-width: 992px){
  .display1,
  .display2{
    font-size: 20px;
    line-height: 130%;
  }

  .title{
    font-size: 22px;
  }

  .display3{
    font-size: 18px;
  }

  .display4{
    font-size: 14px;
    line-height: 20px;
  }

  .body-text{
    font-size: 12px;
    line-height: 150%;
    h2{
      font-size: 18px;
      margin-bottom: 7px;
    }
    h3{
      font-size: 16px;
      margin-bottom: 7px;
    }
    h4{
      font-size: 14px;
      margin-bottom: 5px;
    }
    h5{
      font-size: 13px;
      margin-bottom: 5px;
    }
    p{
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
    ol,ul{
      &:not(:last-child){
        margin-bottom: 12px;
      }
    }
    li{
      font-size: 12px;
      line-height: 150%;
    }
    ul{
      li{
        &::before{
          transform: translateY(9px);
          margin-right: 7px;
        }
      }
    }
    ol{
      li{
        &::before{
          margin-right: 7px;
        }
      }
    }
  }
}
