@import "../vars.scss";
.breadcrumbs {
    margin: 32px 0 45px;
    &__items{
        margin-top: 23px;
    }
    &__item {
        font-size: 12px;
        line-height: 110%;
        position: relative;
        display: inline;
        color: $secondaryDark;
        &:not(:first-child) {
            margin-left:20px;
            &:before {
                content: '';
                position: absolute;
                width: 1px;
                height: 10px;
                background-color: $secondaryDark;
                top: 4px;
                left: -10px;
                transform: translate(-50%, 0%);
            }
        }
    }
}


@media screen and (max-width: 992px){
    .breadcrumbs{
        margin: 25px 0;
        &__items{
            margin-top: 12px;
        }
    }
}
