.req{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.req-form{
  background-color: #f3f3f3;
  padding: 60px 0 65px;
  flex-grow: 1;
  &__inner{
    padding: 48px 70px 44px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
  }
  &__info{
    display: grid;
    grid-template-columns: 1.5fr 1.1fr 1fr;
    gap: 23px 45px;
    padding-bottom: 38px;
    border-bottom: 1px solid #e9e9e9;
    .fg{
      &:nth-child(1){
        padding-right: 25px;
      }
    }
  }
  &__direction{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px 90px;
  }
  &__bottom{
    display: grid;
    grid-template-columns: calc(50% + 45px) auto;
    gap: 18px 78px;
  }
  [data-direction]{
    &::before{
      content: attr(data-direction);
      position: absolute;
      width: 32px;
      height: 32px;
      background-color: #ffffff;
      border: 1px solid #cbb06f;
      border-radius: 2px;
      bottom: 4px;
      left: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 800;
      color: #cbb06f;
    }
    input{
      padding-left: 45px;
    }
    &:nth-child(1):after{
      content: '';
      position: absolute;
      height: 40px;
      width: 90px;
      bottom: 0;
      background-image: url(../img/location.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 39px auto;
    }
  }
  &__hint{
    margin-top: 34px;
    color: #3c4360;
    font-size: 13px;
    line-height: 18px;
    span{
      font-size: 18px;
      color: #c0a052;
    }
  }
  &__right{
    padding-top: 30px;
  }
  &__check{
    label{
      color: #3c4360;
      &::before{
        width: 15px;
        height: 15px;
        border-width: 4px;
      }
      &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 2.5px;
        width: 15px;
        height: 15px;
        border: 1px solid #c8c8c8;
        z-index: 2;
      }
    }
  }
  &__btn{
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
    border-radius: 3px;
    width: 100%;
    height: 62px;
  }
  &__capcha{
    margin-top: 23px;
    width: 256px;
    max-width: 100%;
    img{
      box-shadow: 0 0 4px 0 rgba(23,23,23,0.55);
      width: 100%;
      display: block;
    }
  }
}


@media screen and (max-width: 992px){
  .req-form{
    padding: 7px 7px 9px;
    .container{
      padding: 0;
    }
    &__inner{
      padding: 21px 23px;
      gap: 20px;
    }
    &__info{
      grid-template-columns: 100%;
      padding-bottom: 24px;
      .fg{
        &:nth-child(1){
          padding: 0;
        }
      }
    }
    &__direction{
      grid-template-columns: 100%;
      .fg{
        &:nth-child(1):after{
          display: none;
        }
      }
    }
    [data-direction]{
      &::before{
        width: 23px;
        height: 23px;
        font-size: 10px;
        bottom: 6.5px;
        left: 7px;
      }
    }
    &__bottom{
      grid-template-columns: 100%;
      position: relative;
      padding-bottom: 29px;
    }
    &__right{
      padding: 0;
    }
    &__capcha{
      margin-top: 13px;
    }
    &__hint{
      font-size: 11px;
      position: absolute;
      left: 0;
      bottom: 0;
      span{
        font-size: 11px;
      }
    }
  }
}
