<div class="information__card">
    <a href="" class="information__card-img" style="background-image: url(img/news.webp);"></a>
    <div class="information__card-content">
        <div class="information__content-left">
            <a href="" class="information__content-title">Классификатор таможенных режимов</a>
            <div class="information__content-text">Классификатор таможенных режимов согласно Приложению 1 к Приказу ГТК России от 23.08.2002 N 900.</div>
            <div class="information__content-tags">
                <div class="information__content-tag">
                    <span>таможенное оформление</span>
                </div>
            </div>
        </div>
        <div class="information__content-right">
            <a href="" class="information__content-link news-card__link mbtn mbtn-primary">подробнее</a>
        </div>
    </div>
</div>
