<div class="qa-card">
    <div class="qa-card__show">
        <div class="qa-card__title display4">@@title</div>
        <span class="qa-card__btn"></span>
    </div>
    <div class="qa-card__hidden">
        <div class="qa-card__quote">
            <div class="qa-card__desc body-text">
                <p>В настоящее время существует 2 типа контейнеров: 20-футовый и 40-футовый</p>
                <p>Транспортировка груза в контейнере удобна тем, что груз от места погрузки до места выгрузки следует в одном контейнере и нигде не перегружается. Контейнерные перевозки применяются для транспортировки всех видов груза: сухого, сыпучего, жидкого и опасного. Также контейнеры подходят для перевозки объемного и тяжелого груза, личных вещей, квартирных переездов и международных перевозок. Контейнеры могут перевозиться автомобильным, железнодорожным, морским и речным транспортом. Каждый контейнер, после осмотра груза и его полного описания, запечатывается и пломбируется. Наши специалисты следят за перемещением контейнеров на всем пути следования и информируют клиента о месте нахождения груза.</p>
            </div>
        </div>
    </div>
</div>
