<div class="container">
    <div class="advantages__inner">
        <div class="advantages__item">
            <div class="advantages__icon">
                <img src="img/about1.svg" alt="">
            </div>
            <div class="advantages__content">
                <div class="advantages__title display4">Гарантированные сроки доставки</div>
                <div class="advantages__desc">мы предоставляем информацию и четкий контроль за движением груза на всех участках перевозки</div>
            </div>
        </div>
        <div class="advantages__item">
            <div class="advantages__icon">
                <img src="img/about2.svg" alt="">
            </div>
            <div class="advantages__content">
                <div class="advantages__title display4">Надежные партнерские отношения</div>
                <div class="advantages__desc">с судоходными компаниями, терминалами, жд / авто/ авиа операторами</div>
            </div>
        </div>
        <div class="advantages__item">
            <div class="advantages__icon">
                <img src="img/about3.svg" alt="">
            </div>
            <div class="advantages__content">
                <div class="advantages__title display4">Наш опыт и профессионализм</div>
                <div class="advantages__desc">многолетний опыт позволяет радовать вас, специальными предложениями по самым выгодным ценам</div>
            </div>
        </div>
    </div>
</div>
