<div class="auto__person">
    <div class="auto__avatar">
        <img src="img/avatar.png" alt="">
    </div>
    <div class="auto__name display4">Ирина Латвиенко</div>
    <div class="auto__prof">специалист по таможенному оформлению</div>
    <a href="tel:+74232400865" class="auto__tel">+7 (423) 240-08-65</a>
    <a href="mailto:latvienko@sanmarine.ru" class="auto__email">latvienko@sanmarine.ru</a>
</div>
<div class="auto__info">
    <div class="auto__quote body-text">
        Отвечу на любые ваши вопросы и
        бесплатно проконсультирую
    </div>
    <button class="auto__btn mbtn mbtn-blue">заказать консультацию</button>
</div>
