<section class="consult">
    <div class="container">
        <div class="consult__inner">
            <div class="consult__content">
                <div class="consult__title">Заказажите бесплатную консультацию</div>
                <div class="consult__desc body-text">Более 10 лет мы помогаем своим клиентам развивать бизнес с Китаем. Оставьте свои данные и получите бесплатную консультацию от профессионалов.</div>
            </div>
            <form action="" class="consult__form">
                <div class="consult__fields">
                    <fieldset class="subscribe__form-group">
                        <input type="text" placeholder="Ваше имя *">
                    </fieldset>
                    <fieldset class="subscribe__form-group">
                        <input type="tel" placeholder="Телефон *">
                    </fieldset>
                </div>
                <div class="consult__check check">
                    <input checked type="checkbox">
                    <label>Даю согласие на обработку персональной информации согласно политики сайта</label>
                </div>
                <div class="consult__bottom">
                    <button class="consult__btn mbtn mbtn-blue">ОТПРАВИТЬ ЗАПРОС</button>
                    <div class="consult__capcha">
                        <img src="img/capcha.png" alt="">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
