<div class="container">
    <div class="export__top">
        <div class="export__title display2">@@title</div>
        <div class="export__desc">«SanMarine», является лицензированным таможенным представителем (брокером), осуществляет все необходимые операции, связанные с таможенным оформлением экспорта и, являясь экспертом в данной области.</div>
    </div>
</div>
<div class="export__items">
    <a href="" class="export__item">
        <span class="export__item-title">Продукты питания</span>
        <img src="img/tamozhen-1.png" alt="" class="export__icon">
    </a>
    <a href="" class="export__item">
        <span class="export__item-title">Фармацевтическая продукция</span>
        <img src="img/tamozhen-2.png" alt="" class="export__icon">
    </a>
    <a href="" class="export__item">
        <span class="export__item-title">Автокомплектующие и запчасти</span>
        <img src="img/tamozhen-3.png" alt="" class="export__icon">
    </a>
    <a href="" class="export__item">
        <span class="export__item-title">Электроника</span>
        <img src="img/tamozhen-4.png" alt="" class="export__icon">
    </a>
    <a href="" class="export__item">
        <span class="export__item-title">Спецтехника</span>
        <img src="img/tamozhen-5.png" alt="" class="export__icon">
    </a>
    <a href="" class="export__item">
        <span class="export__item-title">Продукты питания</span>
        <img src="img/tamozhen-1.png" alt="" class="export__icon">
    </a>
    <a href="" class="export__item">
        <span class="export__item-title">Фармацевтическая продукция</span>
        <img src="img/tamozhen-2.png" alt="" class="export__icon">
    </a>
    <a href="" class="export__item">
        <span class="export__item-title">Автокомплектующие и запчасти</span>
        <img src="img/tamozhen-3.png" alt="" class="export__icon">
    </a>
    <a href="" class="export__item">
        <span class="export__item-title">Электроника</span>
        <img src="img/tamozhen-4.png" alt="" class="export__icon">
    </a>
    <a href="" class="export__item">
        <span class="export__item-title">Спецтехника</span>
        <img src="img/tamozhen-5.png" alt="" class="export__icon">
    </a>
</div>
