<div class="container">
    <div class="footer__inner">
        <div class="footer__left">
            <div class="footer__info">
                <a href="" class="footer__logo">
                    <img src="img/logo-footer.png" alt="">
                </a>
                <div class="footer__co">1994 - 2022 © ООО «СанМарин Лайн»
                    Группа компаний СанМарин. Логистика без забот.</div>
                <a href="" class="footer__privacy">Политика конфиденциальности</a>
            </div>
            <div class="footer__links">
                <a href="" class="footer__link">Контейнерные морские перевозки</a>
                <a href="" class="footer__link">Авиперевозки контейнерами</a>
                <a href="" class="footer__link">Автомобильные перевозки</a>
                <a href="" class="footer__link">Железнодорожные перевозки</a>
                <a href="" class="footer__link">Сборные грузы</a>
                <a href="" class="footer__link">Срочная доставка</a>
                <a href="" class="footer__link">Таможенное оформление</a>
            </div>
        </div>
        <div class="footer__right">
            <div class="footer__contacts">
                <div class="footer__contacts-item">
                    <div class="footer__contacts-title">адрес офиса</div>
                    <div class="footer__contacts-link">г. Владивосток, ул. Лазо 28</div>
                </div>
                <div class="footer__contacts-item">
                    <div class="footer__contacts-title">электронная почта</div>
                    <a href="mailto:office@sanmarine.ru" class="footer__contacts-link">office@sanmarine.ru</a>
                </div>
                <button class="footer__btn mbtn mbtn-blue">отправить заявку</button>
            </div>
            <div class="footer__phones footer__contacts-item">
                <div class="footer__contacts-title">справки по телефонам</div>
                <a href="tel:+74232400865" class="footer__phones-link">+7 (423) 240-08-65</a>
                <a href="tel:+79084423068" class="footer__phones-link">+7 908 442 3068</a>
                <a href="tel:+79996181176" class="footer__phones-link">+7 999 618 1176</a>
            </div>
        </div>
    </div>
</div>
