<div class="container">
    <div class="news__inner">
        <div class="news__content">
            <div class="news__title display2">@@title</div>
            <div class="news__desc">Делимся самой важной и полезной информации для наших клиентов.</div>
            <a href="" class="news__link mbtn mbtn-primary-outline">смотреть все</a>
            <div class="news__desc2">Подпишитесь на нашу рассылку и получайте информацию одними из первых.</div>
        </div>
        <div class="news__items">
            @@include('../cards/_news-card.html',{"img":"news","title":"Классификатор таможенных режимов"})
            @@include('../cards/_news-card.html',{"img":"news2","title":"Классификатор видов транспорта"})
            @@include('../cards/_news-card.html',{"img":"news3","title":"Размеры морских и ж/д контейнеров"})
        </div>
    </div>
</div>
