<section class="qa">
    <div class="container">
        <div class="qa__title">Вопросы и ответы (FAQ)</div>
        <div class="qa__items">
            @@include('../cards/_qa-card.html',{"title":"Какие сроки доставки груза?"})
            @@include('../cards/_qa-card.html',{"title":"Как оплачивается простой автомобиля?"})
            @@include('../cards/_qa-card.html',{"title":"Как производится оплата перевозки груза?"})
            @@include('../cards/_qa-card.html',{"title":"Как рассчитываются тарифы на доставку груза?"})
            @@include('../cards/_qa-card.html',{"title":"Действительно ли страховка груза необходима?"})
            @@include('../cards/_qa-card.html',{"title":"В какой срок вы можете предоставить машину под погрузку?"})
            @@include('../cards/_qa-card.html',{"title":"Как происходит перевозка груза в контейнерах?"})
        </div>
    </div>
</section>
