<section id="subscribe" class="subscribe">
    <div class="container">
        <div class="subscribe__inner">
            <div class="subscribe__left">
                <div class="subscribe__title">
                    <span>Онлайн-подписка</span>
                    на расписание судов <br>
                    и наши ставки
                </div>
            </div>
            <div class="subscribe__right">
                <div class="subscribe__desc body-text">Подпишитесь на нашу рассылку и получайте информацию одними из первых.</div>
                <form action=""
                      data-success="ПОДПИСКА УСПЕШНО ОФОРМЛЕНА"
                      class="subscribe__form @@if(success == 'true'){_subscribe-success}">
                    <fieldset class="subscribe__form-group @@if(error == 'true'){_input-error}">
                        <input type="email" placeholder="укажите ваш email">
                        <div class="subscribe__form-error">Указанный адрес либо уже подписан, либо напечатан с ошибкой</div>
                    </fieldset>
                    <button class="subscribe__btn mbtn mbtn-blue2">ОФОРМИТЬ ПОДПИСКУ</button>
                </form>
                <div class="subscribe__hint">
                    Оформляя подписку на рассылку вы принимаете <a href="">пользовательское соглашение на обработку персональной информации</a>
                </div>
            </div>
        </div>
    </div>
</section>
